body{
     display: flex;
     justify-content: center;
     align-self: center;
}

.main-container{
     border: 1px solid grey;
     width:350px;
     height: 500px;
     display: flex;
     flex-direction: column;
     align-items: center;
}




