.input-box {
  display: flex;
  justify-content: space-between;
}

.addbtn {
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 20px;
}

.input {
  width: 100%;
  outline: none;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
}
