.list{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 4px;
}
.button{
     padding: 10px 18px;
     border: none;
     background-color: green;
     color: white;
     border-radius: 30px;
     cursor: pointer;
}